<!DOCTYPE html>
{% load browserid %}
{% load inplace_edit %}
{% load staticfiles %}
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'simplelist/style.css' %}" />
  {% browserid_css %}
  {% inplace_css 1 %}
  {% block custom_head_content %}    {% endblock %}
  <title>{% block title %}amazing simplelist{% endblock %}</title>
</head>
<body>
    <div id="sidebar">
      {% browserid_info %}
      {% block sidebar %}
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin/">Admin</a></li>
        <li>
          {% if not user.is_authenticated %}
             {% browserid_login text='Login' color='dark' %}
          {% else %}
             {% browserid_logout text='Logout' %}
          {% endif %}
        </li>

      </ul>
      {% endblock %}
    </div>

    <div id="content">
        {% if not user.is_authenticated %}
            {% block content_not_logged_in %}
               <p>You are not logged in.</p>
           {% endblock %}
        {% else %}
           {% block content_logged_in %}
               <h2>view template has not defined block: content_logged_in</h2>
           {% endblock %}
      {% endif %}
    </div>

   <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   {% inplace_js 1 1 %}
   {% browserid_js %}
    </body>
</html>
