{% load browserid %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'simplelist/style.css' %}" />
{% load render_table from django_tables2 %}

<!doctype html>
<html>
    <head>
      {% browserid_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
      {% browserid_info %}

      {% if user.is_authenticated %}
            {% browserid_logout text='Logout' %}

            <h1>{{ specification.spec_name }}</h1>
            {% render_table specification.requirement_set.all %}

      {% else %}
            {% browserid_login text='Login' color='dark' %}
            You need to login to see available lists.
      {% endif %}

    </body>
</html>

