{% extends "simplelist/base.html" %}
{% load inplace_edit %}

{% block title %}My amazing blog{% endblock %}

{% block content_logged_in %}
   <article>
     {% if list_of_lists %}
         <h1>List of lists</h1>
         <ul>
           {% for list in list_of_lists %}
           <li><a href="{% url 'simplelist:list_detail' list.id %}"> {% inplace_edit "list.list_name" %} </a></li>
           {% endfor %}
         </ul>
      {% else %}
           <p> There seem not to be any lists </p>
      {% endif %}
   </article>
{% endblock %}
