{% extends "simplelist/base.html" %}

{% block title %}My amazing blog{% endblock %}

{% block content_logged_in %}
   <article>
     {% if collection_list %}
         <h1>List of collections</h1>
         <ul>
           {% for spec in collection_list %}
           <li><a href="{% url 'simplelist:detail' spec.id %}">{{ spec.spec_name }}</a></li>
           {% endfor %}
         </ul>
      {% else %}
           <p> There seem not to be any collections </p>
      {% endif %}
   </article>
{% endblock %}
